---
layout: default
title: Home
hide_title: true
---
<div class="prose home-intro">
  <img class="avatar" src="{{ '/assets/images/bio-photo.png' | relative_url }}" alt="Gapp">
  <h1 class="page-title">Hi, I'm Gapp.</h1>
  <p class="post-meta">I make things</p>

  <p>I spend most of my free time coding. Not for work, but for the pure joy of solving something. This has been the case since I was 7 years old when my dad got me a DOS machine and my brother and I would spend many hours writing qbasic codes. Many of the apps/softwares I use these days are things I built for myself. I am that guy who would spend 8 hours coding an automation rather than doing a 10 minute manual work.</p>

  <p>I run/bike ultra long distances, play ultimate frisbee with a club and hit the bouldering gym regularly. I used to be into water sports a lot back in 2010 to 2016 in Shanghai/Singapore. I used to play Underwater Hockey twice a week, got my PADI Divemaster certification after 300 odd Scuba dives (in Malaysia, Indonesia, Philippines etc.), got my Star Award 3 Sea Kayaking certification and logged 1000s of miles of kayaking in the sea visiting random islands and camping there, raced Dragon Boat for a club in Shanghai, wind surfed regularly at the sea, and surfed the waves in Bali/Lombok. But I no longer do them and prefer running/biking/climbing. I regularly create accounts on chess.com and lichess.org, get addicted to playing chess, feel guilty and delete my account.</p>

  <p>I am generally interested in the farming/agriculture, the food-tech and the education space. I love discussing ideas and I can get occupied for many hours just working on logical <a href="https://www.gapp.in/games/">puzzles</a>, math/physics problems etc.</p>
</div>

<div class="prose home-recent">
  <h2>recent posts</h2>
  <ul class="page-list">
    {% for post in site.posts limit: 5 %}
      <li>
        <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <h2>recently in the wiki</h2>
  <ul class="page-list">
    {% assign recent_wiki = site.wiki | where_exp: "d", "d.date" | sort: "date" %}
    {% for doc in recent_wiki reversed limit: 5 %}
      <li>
        <span class="date">{{ doc.date | date: "%b %-d, %Y" }}</span>
        <a href="{{ doc.url | relative_url }}">{{ doc.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
